/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */

* {
	border: none;
	border-radius: 0;
	/*font-family: OpenDyslexicM Nerd Font Mono;*/
	font-size: 16px;
	min-height: 24px;
}

window#waybar {
	background: transparent;
}

#window {
  
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
	border-radius: 26px;
	transition: none;
  color: transparent;
	background: transparent;
}

#module-center{
  background:transparent;
}

#workspaces {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 0;
	border-radius: 26px;
	background: transparent;
	transition: none;
}

#workspaces button {
	transition: none;
	color:  #3c3836;
	background: transparent;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #427b58;
}

#workspaces button.active{
  color: #af3a03;
}

#keyboard-state {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	background: transparent;
	color: #3c3836;
}

#language {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	background: transparent;
	color: #3c3836;
}


#wireplumber {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	background: transparent;
	color: #3c3836;
}

#clock {
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 12px;
	padding-left: 16px;
	padding-right: 16px;
  font-size: 20px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	background: transparent;
  color: #3c3836;
}

tooltip{
  background : #fbf1c7;
  border-radius : 30px;
  color : #3c3836;
}

.clockBar #clock{
   margin-bottom : 1805px;
   margin-left: -10px;
   font-size: 150px;
   font-family: OpenDyslexicM Nerd Font Mono;
   opacity: 1;
}

.dateBar #clock{
  margin-bottom : 450px;
   font-size: 75px;
   font-family: OpenDyslexicM Nerd Font Mono;
   opacity: 1;
}
